@font-face {
  font-family: 'poppins';
  src: url('./styled/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./styled/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./styled/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
