@font-face {
  font-family: 'poppins';
  src: url('./styled/fonts/Poppins-Black.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./styled/fonts/PressStart2P-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./styled/fonts/Inter-VariableFont_slnt,wght.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-Bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RedRose';
  src: url('./styled/fonts/RedRose-SemiBold.woff') format('woff');
  font-weight: SemiBold;
  font-style: normal;
}
